<div class="row">
    <div class="col-xs-3">
      <app-create-edit-project></app-create-edit-project>
    </div>
  </div>
  <hr>
  <div class="row">
    <div class="col-xs-12 col-md-12" *ngFor="let project of projects; let arrayIndex = i">
      <a class="container-fluid list-group-item clearfix" (click)="projectLIClick(project.id)" href="#">
        <div class="float-left">
          <h4 class="list-group-heading">{{ project.name }}</h4>
          <p class="list-group-item-text">{{ project.desc }}</p>
        </div>
        <div class="container-fluid float-right">
          <button class="btn btn-danger" type="button" (click)="OnEdit(project.id)">Edit</button>
        </div>
      </a>
    </div>
</div>
