<!-- The Modal -->
<!-- <div id="myModal" class="modal">
</div> -->
<nav class="navbar navbar-expand-md navbar-light bg-light sticky-top">
  <div >
      <a class="navbar-brand">Project Logger</a>
      <button class="navbar-toggler" type="button" data-toggle = "collapse" data-target="#navbarResponsive">
        <span class="navbar-toggler-icon"></span>
      </button>
  </div>
  <div class="collapse navbar-collapse" id="navbarResponsive">
    <ul class="navbar-nav mr-auto">
      <li class="nav-item">
        <a class="nav-link active" href="#">Home</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" href="#">Dashboards</a>
      </li>
      <li class="nav-item">
        <a  class="nav-link" href="#">Events</a>
      </li>
    </ul>
    <ul class="navbar-nav navbar-right">
      <li class="nav-item" *ngIf="!isLoggedIn">
        <app-login></app-login>
      </li>
      <li  class="nav-item" *ngIf="!isLoggedIn">
        <app-signup></app-signup>
      </li>
      <li class="nav-item" *ngIf="isLoggedIn">
        <a class="nav-link" href="#">Logout</a>
      </li>
  </ul>
  </div>
</nav>