<ng-template #projectDetails let-modal>
    <div class="modal-header">
      <h4 class="modal-title" id="modal-basic-title">New Project</h4>
      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
        <span aria-hidden="true">×</span>
      </button>
    </div>
    <div class="modal-body">
      <form [formGroup]="projectForm" id="projectForm" (ngSubmit)="onCreateProject()">
        <div class="container">
            <div class="row form-group">
                <label for="projectName"> Project Name: </label>
                <input class="form-control" formControlName="name" id="projectName"type="text"/>
            </div>
            <div class="row form-group">
                <label for="summary"> Summary : </label>
                <input class="form-control" formControlName="summary" id="summary" type="text"/>
            </div>
            <div class="row form-group">
                <label for="projectDesc"> Description : </label>
                <textarea class="form-control" formControlName="details" id="details" cols="70" rows="4"></textarea>
            </div>
        </div>
      </form>
    </div>
    <div class="modal-footer">
        <button class="btn btn-success" form="projectForm" (click)="modal.close('Save click')" type="submit">Create Porject</button>
    </div>
</ng-template>

<button class="btn btn-success pull-right" (click)="onCreateNewProject()">New Project</button>
