/* .background-image-class {
  background-image: url("../../../images/Project_logger_image.png");
  position: relative;
  opacity: 0.65;
  background-position: center;
  background-repeat: no-repeat;
  background-size: cover;
} */
