/* home Main css */
.main {
  position: absolute;
  top: 60px;
  width: 100%;
  height: 92%;
  left: 0;
}

/* Project List */
.pl-li {
  display: block;
  list-style-type: none;
  width: 20%;
  height: 10%;
  background-color: rgb(219, 219, 219);
  padding-top: 10px;
}

.proj-item {
  text-decoration: none;
  width: 100%;
  height: 100%;
  text-align: left;
  color: black;
}

.proj-item:active {
  color: white;
}

.proj-name {
  font-size: 30px;
  color: rgb(100, 100, 100);
}
.proj-desc {
  font-size: 25px;
  color: rgb(100, 100, 100);
}

.create-proj {
  align-self: right;
  width: 200px;
  height: 40px;
  font-family: sans-serif;
  font-size: 20px;
  background-color: green;
  color: white;
  border: none;
  text-align: center;
}

.create-proj:active {
  border-style: outset;
  border-color: black;
}

/* nav bar css */
.navbar {
  position: absolute;
  /* background-color: rgb(182, 182, 182); */
  color: #212529;
  width: 100%;
  height: 8%;
  margin: 0;
  top: 0;
  left: 0;
}

.navbar-login {
  float: right;
  display: inline;
  box-sizing: border-box;
  height: 100%;
  width: 10%;
}

.navbar-brand {
  font-family: sans-serif;
  font-size: larger;
  color: black;
  text-decoration: none;
  text-align: center;
  box-sizing: border-box;
  display: block;
  height: 100%;
  width: 100%;
  padding-top: 12px;
}

.navbar-ul {
  list-style-type: none;
  margin: 0;
  padding: 0;
  overflow: hidden;
  align-self: center;
  color: rgb(221, 221, 221);
  height: 100%;
}

.navbar-li {
  float: left;
  display: inline;
  box-sizing: border-box;
  height: 100%;
  width: 10%;
}

.navbar-link:hover {
  /* background-color: green; */
  border-left: outset;
  border-right: outset;
  /* color: white; */
}

.navbar-link {
  display: block;
  font-family: sans-serif;
  padding-top: 18px;
  box-sizing: border-box;
  font-size: 15px;
  text-align: center;
  color: rgb(95, 95, 95);
  text-decoration: none;
  width: 100%;
  height: 100%;
}

.navbar-link:active {
  color: black;
}

.btn {
  text-align: center;
  vertical-align: middle;
  display: inline-block;
  font-weight: 400;
  user-select: none;
  border: 1px solid;
  padding: 0.375rem 0.75rem;
  font-size: 1rem;
  line-height: 1.5;
  border-radius: 0.25rem;
  transition: color 0.15s ease-in-out, background-color 0.15s ease-in-out,
    border-color 0.15s ease-in-out, box-shadow 0.15s ease-in-out;
}

.btn-success {
  color: #fff;
  background-color: #218838;
  border-color: #1e7e34;
  box-shadow: 0 0 0 0.2rem rgba(72, 180, 97, 0.5);
}
